@model Eticaret.Core.Entities.Order

@{
    ViewData["Title"] = "Sipariş Sil";
}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h4 class="card-title mb-0">
                        <i class="fas fa-trash me-2"></i> Sipariş Sil
                    </h4>
                </div>
                <div class="card-body">
                    <h5>Silmek Üzeresiniz: Sipariş Detayları</h5>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OrderNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OrderNumber)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalPrice)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TotalPrice) ₺
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AppUserId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AppUserId)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AppUser)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AppUser.Name)
                            @Html.DisplayFor(model => model.AppUser.Surname)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BillingAddress)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BillingAddress)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DeliveryAddress)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DeliveryAddress)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OrderDate)
                        </dd> 
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OrderState)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OrderState)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Emin misiniz? Bu işlem geri alınamaz.')">
                            <i class="fas fa-trash me-2"></i> Sil
                        </button>
                    </form>

                    <div class="mt-3">
                        <a asp-action="Index" class="btn btn-sm btn-secondary">
                            <i class="fa-solid fa-arrow-left me-2"></i> Listeye Dön
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
