@model IEnumerable<Slider>

@{
    ViewData["Title"] = "Slider Yönetimi";
}
<p>
    <link href="~/css/resimindex.css" rel="stylesheet" />
    <a asp-action="Create" class="btn btn-outline-primary ">
        <i class="fa-solid fa-plus"></i>Create New
    </a>
</p>
<table class="table table-hover table-striped table-bordered shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <!-- #region name extra olarak tıkladığındansayfada resim büyütmede var a etiketi o yüzden verdim -->
                <td class="text-center">
                    <a href="/Img/Slider/@item.Image">
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                        <div style="display: flex; justify-content: center;">
                            <img src="/Img/Slider/@item.Image" alt="" style="width:60px; height: 35px; object-fit: cover; border-radius: 5px;" class="news-image" />
                        </div>
                        }
                    </a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i> Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
